@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Space+Grotesk:wght@500&display=swap");

$fw400: 400;
$fw700: 700;
$fm: "Outfit", sans-serif;
$clr--neutral-100: hsl(0, 0%, 100%);
$clr--neutral-300: hsl(212, 45%, 89%);
$clr--primary-400: hsl(220, 15%, 55%);
$clr--primary-700: hsl(218, 44%, 22%);
