@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Outfit:wght@400;700&family=Space+Grotesk:wght@500&display=swap");

$fw-400: 400;
$fw-700: 700;
$clr-primary-700: hsl(10, 79%, 65%);
$clr-primary-500: hsl(186, 34%, 60%);
$clr-neutral-400: hsl(25, 47%, 15%);
$clr-neutral-500: hsl(28, 10%, 53%);
$clr-neutral-600: hsl(27, 66%, 92%);
$clr-neutral-700: hsl(33, 100%, 98%);
$font-family: "DM Sans", sans-serif;
$font-size: 18px;
