@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=DM+Sans:wght@400;700&family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@700&family=Nunito+Sans:wght@300;600;800&family=Outfit:wght@400;700&family=Space+Grotesk:wght@500&display=swap");

$clr-neutral: hsl(0, 0%, 100%);
//Theme 1
$clr-background-main-theme1: hsl(222, 26%, 31%);
$clr-background-toggle-keypad-theme1: hsl(223, 31%, 20%);
$clr-background-screen-theme1: hsl(224, 36%, 15%);
$clr-key-background-700-theme1: hsl(225, 21%, 49%);
$clr-key-shadow-700-theme1: hsl(224, 28%, 35%);
$clr-key-background-500-theme1: hsl(6, 63%, 50%);
$clr-key-shadow-500-theme1: hsl(6, 70%, 34%);
$clr-key-background-200-theme1: hsl(30, 25%, 89%);
$clr-key-shadow-200-theme1: hsl(28, 16%, 65%);
$clr-text-700-theme1: hsl(221, 14%, 31%);

//Theme 2
$clr-background-main-theme2: hsl(0, 0%, 90%);
$clr-background-toggle-keypad-theme2: hsl(0, 5%, 81%);
$clr-background-screen-theme2: hsl(0, 0%, 93%);
$clr-key-background-700-theme2: hsl(185, 42%, 37%);
$clr-key-shadow-700-theme2: hsl(185, 58%, 25%);
$clr-key-background-500-theme2: hsl(25, 98%, 40%);
$clr-key-shadow-500-theme2: hsl(25, 99%, 27%);
$clr-key-background-200-theme2: hsl(45, 7%, 89%);
$clr-key-shadow-200-theme2: hsl(28, 16%, 65%);
$clr-text-700-theme2: hsl(60, 10%, 19%);

//Theme 3
$clr-background-main-theme3: hsl(268, 75%, 9%); //
$clr-background-toggle-keypad-theme3: hsl(268, 71%, 12%); //
$clr-background-screen-theme3: hsl(281, 89%, 26%); //
$clr-key-background-700-theme3: hsl(285, 91%, 52%); //
$clr-key-shadow-700-theme3: hsl(176, 100%, 44%); //
$clr-key-background-500-theme3: hsl(177, 92%, 70%); //
$clr-key-shadow-500-theme3: hsl(268, 47%, 21%); //
$clr-key-background-200-theme3: hsl(268, 47%, 21%); //
$clr-key-shadow-200-theme3: hsl(290, 70%, 36%);
$clr-text-700-theme3: hsl(198, 20%, 13%);
$clr-text-500-theme3: hsl(52, 100%, 62%);
///////

$fs-number: 32px;
$ff: "League Spartan", sans-serif;
$fw-700: 700;

@mixin btn-position($X) {
  transform: translateY(5px) translateX($X);
}

@mixin btn-shadows($clr) {
  box-shadow: inset 0px -8px 0px -1px rgba($clr, 1);
}
